
<table>
  <tr>
        <td>id</td>
        <td>nome</td>
        <td>cpf</td>
        <td>nascimento</td>
        <td>sexo</td>
        <td>endereco</td>
        <td>cep</td>
        <td>telefone</td>
        <td>celular</td>
        <td>email</td>
        <td>senha</td>
        <td>comentarios</td>
    </tr>    


{{#data}}

    <tr>
       
        <td>{{id}}</td>
        <td>{{nome}}</td>
        <td>{{cpf}}</td>
        <td>{{nascimento}}</td>
        <td>{{sexo}}</td>
        <td>{{endereco}}</td>
        <td>{{cep}}</td>
        <td>{{telefone}}</td>
        <td>{{celular}}</td>
        <td>{{email}}</td>
        <td>{{senha}}</td>
        <td>{{comentarios}}</td>
    </tr>    
{{/data}}
</table>